{% extends "base.html" %}

{% block content %}

    <a href="{{ url_for('invitation') }}?code={{ code }}" class="back-to-home">< back to home</a>

    <!-- Page Header -->
    <header class="details-page-header">
      <em>THE DETAILS</em>
    </header>

    <!-- Main Content -->
    <main class="details-content">
        <!-- Venue Section -->
        <section class="details-section">
            <p class="details-section-header">VENUE</p>
            <p class="details-text">
                <!-- Your venue details go here -->
                Our dinner reception will be held at the Andaman Ballroom in <a href="https://g.co/kgs/uJT8Dzx" target="_blank" style="color: inherit; text-decoration: underline; text-underline-offset: 4px;">PARKROYAL Penang Resort Batu Ferringhi Beach</a><br>
                Please arrive at 6PM.
            </p>
        </section>

        <!-- Parking Section -->
        <section class="details-section">
            <p class="details-section-header">PARKING</p>
            <p class="details-text">
                <!-- Your parking details go here -->
                There will be free parking available at the hotel. 
            </p>
        </section>

        <!-- Accommodation Section -->
        <section class="details-section">
            <p class="details-section-header">ACCOMMODATION</p>
            <p class="details-text">
                <span class="mobile-break">Wedding guests are offered the following rates for stays at PARKROYAL Penang Resort.</span><br>
                <span class="mobile-break">To book with these rates, please email the hotel using 
                    <a href="mailto:loh.folksoon@parkroyalhotels.com?subject=Hotel%20Reservation%20for%20Liz%20%26%20Jun%20Ming's%20wedding%20-%2029%20Nov%202025&body=Hi%2C%0D%0A%0D%0AI%20would%20like%20to%20make%20a%20room%20reservation%20as%20part%20of%20the%20attendees%20for%20Liz%20%26%20Jun%20Ming's%20wedding%20-%2029%20Nov%202025.%20Please%20find%20my%20booking%20details%20below%3A%0D%0A%0D%0AFull%20Name%20(Ms/Mr/Mrs)%3A%0D%0AContact%20Number%3A%0D%0AType%20of%20room%3A%0D%0ANo%20Of%20Unit%3A%0D%0AArrival%20Date%3A%0D%0ADeparture%20Date%3A%0D%0A%0D%0AI%20look%20forward%20to%20your%20confirmation%20and%20details%20regarding%20payment%20and%20any%20necessary%20steps." style="color: inherit; text-decoration: underline; text-underline-offset: 4px;">this email template</a>.
                     All rates below include breakfast for two.</span><br>
                <span class="mobile-break">Kindly note that more favourable rates may be available through other booking platforms.</span>
            </p>

            <div class="table-wrapper">
                <table class="rate-table">
                    <thead>
                    <tr>
                        <th class="sticky-col">Room Category</th>
                        <th class="not-sticky-col">Room Rate Per Night</th>
                        <th class="not-sticky-col">Bed Type</th>
                        <th class="not-sticky-col">Extra Day Bed Allowed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="sticky-col">Superior Room</td>
                        <td class="not-sticky-col">RM 550.00nett</td>
                        <td class="not-sticky-col">Twin bed only</td>
                        <td class="not-sticky-col">No</td>
                    </tr>
                    <tr>
                        <td class="sticky-col">Deluxe Room</td>
                        <td class="not-sticky-col">RM 650.00nett</td>
                        <td class="not-sticky-col">King / Twin bed</td>
                        <td class="not-sticky-col">Yes</td>
                    </tr>
                    <tr>
                        <td class="sticky-col">Premier Seaview Room</td>
                        <td class="not-sticky-col">RM 980.00nett</td>
                        <td class="not-sticky-col">King / Twin bed</td>
                        <td class="not-sticky-col">No</td>
                    </tr>
                    <tr>
                        <td class="sticky-col">Lanai Suite</td>
                        <td class="not-sticky-col">RM 1050.00nett</td>
                        <td class="not-sticky-col">King bed</td>
                        <td class="not-sticky-col">Yes</td>
                    </tr>
                    <tr>
                        <td class="sticky-col">Premier Seaview Suite</td>
                        <td class="not-sticky-col">RM 1250.00nett</td>
                        <td class="not-sticky-col">King bed</td>
                        <td class="not-sticky-col">Yes</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

{% endblock %}
