{% extends "base.html" %}

{% block content %}
    <!-- Hamburger Navigation -->
    <nav class="navbar">
        <div class="nav-left"></div>

        <div class="nav-right">
            <div class="hamburger" onclick="toggleMenu()">☰</div>
        </div>

        <div class="nav-center">
            <a href="{{ url_for('invitation') }}" style="color: inherit; text-decoration: none;">
                Jun <em>and</em> Liz
            </a>
        </div>

        <div class="mobile-drawer" id="mobileDrawer">
            <div class="drawer-header">
                <span class="drawer-title" onclick="window.location.href='{{ url_for('invitation') }}'">Jun & Liz</span>
                <button class="close-drawer" onclick="toggleMenu()">✕</button>
            </div>
            <nav class="drawer-nav">
                <a href="{{ url_for('details') }}">Details</a>
                <a href="favourites.html">Favourites</a>
                <a href="rsvp.html">RSVP</a>
            </nav>
        </div>
    </nav>
    
    <section class="hero">
        <img src="static/files/banner.JPG" alt="Hero Image">
    </section>

    <section id="homepage">
        <h2 class="header-text">{{ guest_name }},</h2>
        <p class="paragraph-text">We are so excited to formally invite you to our wedding. It would mean the world to celebrate the happiest day of our lives with our favourite people - <em>it wouldn't be the same without you.</em></p>
        <p class="paragraph-text-details">SATURDAY 29 NOV 2025<br>
            AT SIX O'CLOCK IN THE EVENING<br>
            PARKROYAL PENANG RESORT<br>
            <em>formal attire</em>
        </p>
        <p class="paragraph-text">Please <a href="#rsvp" style="color: inherit; text-decoration: underline; font-weight: 600;">RSVP</a> by 31st August 2025</p>
    </section>

    <section id="photos" class="photo-gallery">
        <div class="photo">
            <img src="static/files/banner.JPG" alt="Photo 1">
        </div>
        <div class="photo">
            <img src="static/files/banner.JPG" alt="Photo 2">
        </div>
        <div class="photo">
            <img src="static/files/banner.JPG" alt="Photo 3">
        </div>
    </section>

    <footer class="footer-nav">
        <a href="{{ url_for('details') }}">Details</a>
        <a href="favourites.html">Favourites</a>
        <a href="rsvp.html">RSVP</a>
    </footer>
{% endblock %}
